@import 'tailwindcss';

:root {
  --primary-base: #183d3d;
  --secondary-base: #3c856e;
  --text-base: #eef2f0;
}

@theme {
  /** Base colors **/
  --color-primary: var(--primary-base);
  --color-secondary: var(--secondary-base);
  --color-text-base: var(--text-base);

  /** etc colors **/
  --color-loading-screen: #0f2626;
}

body {
  background: linear-gradient(var(--primary-base), var(--secondary-base));
  color: var(--text-base);
  font-family: 'JetBrains Mono', monospace;
}
